section#login-popup.login-popup
  h2.login-popup-title Log in
  form#login-form.login-popup-form
    input#loginField.login-popup-form-input(type='text',
    placeholder='Enter your login',
    required)
    input#passwordField.login-popup-form-input(type='password',
    placeholder='Password',
    required)
    button#submit-btn.login-popup-form-button(type='submit')
      | Login
    a.login-popup-form-link
      | Lost your password?
  a.login-popup-close X