doctype html
html(lang='en', ng-app='CounterApp')
  head
    meta(charset='UTF-8')
    title Title
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', type='text/css', href="css/main.min.css")
  body
    .container
      header
        .header-logo
          a.header-logo-link
            img.header-logo-link-img(src='images/appman.svg')
            | Test Task for Frontend
      .main-content
        aside
          h2
            img.aside-img(src='images/appman.svg')
          nav.aside-menu
            ul.aside-menu-list
              li.aside-menu-list-item
                a.aside-menu-list-item-link Home
              li.aside-menu-list-item
                a.aside-menu-list-item-link Users
              li.aside-menu-list-item
                a.aside-menu-list-item-link Reservations
        main
          form#main-form.main-form
            button#login-btn.main-form-login-button(type='submit')
              | Login
            button#reserve-btn.main-form-reserve-button(type='submit')
              | Reserve
          include content/sectionLogin.pug
          include content/sectionReserve.pug

    script(src='js/all.min.js')


